{% extends "base.html" %}
{% block content %}
<h3><a href="/manufacturers">&#8592; Go to manufacturers</a></h3>
<div id="add-model">
    <form id = "add-model-form" action="/manufacturers" method="POST">
        <div>
            <label for="name">Name  </label>
            <input id="input-area" type="text" name="name">
        </div>
        <br>
        <div>
            <label for="position">Position  </label>
            <input id="input-area" type="text" name="position">
        </div>
        <br>
        <div>
            <label for="country">Country  </label>
            <input id="input-area" type="text" name="country">
        </div>
        <br>
        <button type="submit">➕ Add Manufacturer</button>
    </form>
</div>

{% endblock %}