{% extends "base.html" %}
{% block content %}
<section>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/models/new">➕ Add Model</a>
                </li>
            </ul>
        </nav>
    </header>
</section>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Car Type </th>
        <th> Stock </th>
        <th> Stock status </th>
        <th> Buy price </th>
        <th> Sell price </th>
        <th> Markup </th>
        <th> Manufacturer </th>
        <th id="view-edit-thead"> View/Edit </th>
        <th id="delete-thead"> Delete </th>
    </tr>
    </thead>

    <tbody>
    {% for model in models %}
        <tr>
            <td>{{model.name}}</td>
            <td>{{model.description}} </td>
            <td>{{model.stock}}</td>
            <td>
                {% if model.stock == 0 %}
                    <p>&#128308; (out-of-stock)</p>
                {% elif model.stock == 1 %}
                    <p>&#128992; (low stock)</p>
                {% else %}
                    <p>&#128994; (available)</p>
                {% endif %}
            </td>
            <td>£{{model.buy_price}}</td>
            <td>£{{model.sell_price}}</td>
            <td>£{{model.get_markup()}}</td>
            <td>{{model.manufacturer.name}}</td>
            <td>
                <form action="/models/{{model.id}}" method="GET">
                    <button id="view-edit-button">&#128065;  &#9998;</button> 
                </form>
            </td>
            <td>
                <form action="/models/{{model.id}}/delete" method="POST">
                    <button id="delete-button">&#10060;</button> 
                </form>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>


{% endblock %}