{% extends "base.html" %}
{% block content %}

<hr>
<hgroup>
    <h3><a href="/models">Go to models</a></h3>
    <h2>Model Details</h2>
</hgroup><br><br>

<div>
    <p>Name: {{model.name}}</p>
    <p>Description: {{model.description}}</p>
    <p>Stock: {{model.stock}}</p>
    <p>Stock status: 
        {% if model.stock == 0 %}
            <p>&#128308; out of stock </p>
        {% elif model.stock == 1 %}
            <p>&#128992; low stock</p>
        {% else %}
            <p>&#128994; available</p>
        {% endif %}
        
    </p>
    <p>Buy Price: £{{model.buy_price}}</p>
    <p>Sell Price: £{{model.sell_price}}</p>
    <p>Markup: £{{model.get_markup()}}</p>
    <p>Manufacturer: {{model.manufacturer.name}}</p><br>   
    
    <h3>
        <a href="/models/{{model.id}}/edit">Edit</a>
    </h3>
    <br>
    <br>
</div>

{% endblock %}
