<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{title}} Document</title>
</head>
<body>
    <header>
        <h1 id="headline">Car Inventory</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/models">All Models</a>
                </li>
                <li>
                    <a href="/manufacturers">All Manufacturers</a>
                </li>
            </ul>
        </nav>
    </header>

    
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <h3 id="company_name">SR10 Car Dealership</h3>
    </footer>
</body>
</html>