{% extends "base.html" %}
{% block content %}
<div id="homepage">
    <hgroup>
        <br>
        <h1 style="margin-left: 1rem;">📝Guideline</h1>
        <br>
        <h2 style="margin-left: 1rem;">To see/update/remove model(s) information, click <a href="/models">All Models</a></h2>
        <br>
        <h2 style="margin-left: 1rem;">
            To see/update/remove manufacturer(s) information, click <a href="/manufacturers">All Manufacturers</a>
        </h2>
        <br>

    </hgroup>
</div>

{% endblock %}
